.body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 50px;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
.h1-highlight{
    color:#21b573;
}
.half-width{
    width:65%;
    font-size: 16px;
}
.top-background{
    background-color:#f0fff0;
}
.button{
    background-color: #21b573;
    border-radius: 33px;
    color: white;
    border: none;
    padding:9px 25px;
}
.book1,.book2, .book3, .book4{
    background-color: #f8fffb;
    padding: 10px 40px;
    box-shadow: 2px 2px 5px skyblue;
    border-radius: 10px;
}
.hover-class:hover{
    background-color: rgb(247, 240, 247);
    cursor: pointer;
}


