.body{
    font-family: 'Poppins', sans-serif;
}
/**top-part**/
h1{
    font-weight: 700;
    font-size: 50px;
}
.h1-highlight{
    color:#21b573;
}
.half-width{
    width:65%;
    font-size: 16px;
}
.top-background{
    background-color:#f0fff0;
}
.button{
    background-color: #21b573;
    border-radius: 33px;
    color: white;
    border: none;
    padding:9px 25px;
}

/**books part**/
.book1,.book2, .book3, .book4{
    background-color: #f8fffb;
    padding: 10px 40px;
    box-shadow: 2px 2px 5px skyblue;
    border-radius: 10px;
}
.hover-class:hover{
    background-color: rgb(247, 240, 247);
    cursor: pointer;
}

/**course part**/
.card{
    border: none;
    box-shadow: 5px 5px 10px lightblue;
    border-radius: 10px;
}

/**admission part**/
.admission{
    padding: 60px;
}

/**footer**/
.footer-block {
    background-color: #282531;
    color: #f5f5f5;
    margin-top: 100px;
    padding: 20px 10px;
    text-align: left;
    width: 100%;}
    h6{
        font-size: 12px;
    }